 <div class="header">
     <div class="container">
        <div class="logo-image"><a href="/"><img src="/assets/img/favicon.png" ></a></div>
         <h1 class="logo"><a href="/" style=" border: white; ">{{ site.title }}</a></h1>
         <nav class="nav-collapse">
             <ul class="noList">
                 {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url %}{% assign current = 'current' %}{% endif %}
                 <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                     <a href="{{ link.url }}" style="font-family: helvetica; font-weight: bold;">{{ link.title }}</a>
                 </li> 
                 {% endfor %}
                                  
             </ul>
         </nav>
     </div>
 </div><!-- end .header - -->

