<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% include head.html %}

<body>

   {% include header.html %}
    <script>
  (function() {
    var cx = '013798997097096790325:fahy4ipapbs';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
   <div class="content">
      <div class="container">
      <!--  Google Custom Search -->
      	
         {{ content }}
      </div>
   </div><!-- end .content -->

   {% include footer.html %}
   {% include scripts.html %}
   
</body>

</html>
