<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% include head.html %}

<body>

   {% include header.html %}
    
   <div class="content">
      
     <div style="float: left;"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- left-right -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-7301436099802085"
     data-ad-slot="4783601057"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
      <div class="container" style="display: inline-block;">
      
      	
         {{ content }}



        
      </div>
      <div style="float: left; display: inline-block;"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- left-right -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-7301436099802085"
     data-ad-slot="4783601057"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
   </div><!-- end .content -->
    
   {% include footer.html %}
   {% include scripts.html %}
   
</body>

</html>
